@{
    ViewData["Title"] = "Panel zarządzania";
}

<h1 class="h1-title-main">Panel zarządzania</h1>
<div class="administrator-mp-container">
    <div>
        <a class="btn-create">Zarządzanie produktami</a>
    </div>
    <div>
        <a class="btn-edit">Zarządzanie użytkownikami</a>
    </div>
</div>