@{
    ViewData["Title"] = "Logowanie";
}

<form class="account-form">
    <fieldset class="account-fieldset">
        <legend class="account-legend">Rejestracja</legend>
        <div class="account-form-container">
            <div class="account-label">
                <label>Login</label>
            </div>
            <div class="account-input">
                <input type="text"/>
            </div>
            <div class="account-label">
                <label>Hasło</label>
            </div>
            <div class="account-input">
                <input type="password"/>
            </div>
            <div class="account-label">
                <label>Zapamiętaj mnie</label>
                <input type="checkbox"/>
            </div>
            <div class="account-btn">
                <button class="btn-primary">Zaloguj</button>
            </div>
        </div>
    </fieldset>
</form>