@{
    ViewData["Title"] = "Rejestracja";
}

<form class="account-form">
    <fieldset class="account-fieldset">
        <legend class="account-legend">Rejestracja</legend>
        <div class="account-form-container">
            <div class="account-label">
                <label>Podaj login</label>
            </div>
            <div class="account-input">
                <input type="text"/>
            </div>
            <div class="account-label">
                <label>Podaj hasło</label>
            </div>
            <div class="account-input">
                <input type="password"/>
            </div>
            <div class="account-label">
                <label>Podaj ponownie hasło</label>
            </div>
            <div class="account-input">
                <input type="password"/>
            </div>
            <div class="account-btn">
                <button class="btn-primary">Zarejestruj</button>
            </div>
        </div>
    </fieldset>
</form>