@model IList<IdentityRole>
@{
    ViewData["HealthyDay"] = "Zarządzanie rolami";
}

@if (Model.Any())
{
    <a asp-controller="Administrator" asp-action="CreateRole" class="btn btn-primary mb-3">Dodaj nową role</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-controller="Administrator" asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a>
                        <a asp-controller="Administrator" asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h2>Nie ma jeszcze utworzonje żadnej roli</h2>
        <a asp-controller="Administrator" asp-action="CreateRole" class="btn btn-primary">Dodaj nową role</a>
    </div>
}