@{

}

<h1 class="h1-title-main">HealthyDay</h1>
<p>Nasz sklep to miejsce gdzie znajdziesz produkty wyprodukowane tradycyjnymi metodami od małych rolników prosto z ich ogródka.</p>
<a asp-controller="User" asp-action="Index" class="btn-primary">Oferta</a>