@model HealthyDay.Models.Account.LoginModel
@{
    ViewData["HealthyDay"] = "Logowanie";
}

<form asp-controller="Account" asp-action="Login" method="post"  class="main-form">
    <fieldset class="main-fieldset">
        <legend class="main-legend">Logowanie</legend>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="main-form-container">
            <div class="main-label">
                <label>Login</label>
            </div>
            <div class="main-input">
                <input asp-for="Login" type="text" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="main-label">
                <label>Hasło</label>
            </div>
            <div class="main-input">
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="main-label">
                <label>Zapamiętaj mnie</label>
                <input asp-for="RememberMe" type="checkbox" />
            </div>
            <div class="main-btn">
                <button class="btn-primary" type="submit">Zaloguj</button>
            </div>
        </div>
    </fieldset>
</form>