@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject RoleManager<IdentityRole> roleManager

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["HealthyDay"]</title>
    <link rel="stylesheet" href="/css/LayoutStyle.css" />
    <link rel="stylesheet" href="/css/HeaderLayout.css" />
    <link rel="stylesheet" href="/css/ButtonsAndValidationsStyle.css" />
    <link rel="stylesheet" href="/css/PagesStyle.css" />
    <link rel="stylesheet" href="/css/TableStyle.css" />
</head>
<body>
    <header>
        <div class="left-header">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">HealthyDay</a>
            </div>
            <div class="lnav-elements">
                <a asp-controller="User" asp-action="ProductsList"asp-route-id="@signInManager.IsSignedIn(User)">Produkty</a>
            </div>
            @if(User.IsInRole("Admin"))
            {
                <div class="lnav-elements">
                    <a asp-controller="Administrator" asp-action="ManagmentPanel">Panel zarządzania</a>
                </div>
            }
        </div>
        <div class="right-header">
            @if (signInManager.IsSignedIn(User))
            {
                <div>
                    <form asp-controller="Account" asp-action="Logout" method="post" class="logout-form">
                        <div class="rnav-elements">
                            <a><b>Zalogowano:</b> @User.Identity.Name</a>
                        </div>
                        <div class="rnav-elements">
                            <button type="submit">Wyloguj</button>
                        </div>
                    </form>
                </div>
                <div class="rnav-icon">
                    <a asp-controller="User" asp-action="ShoppingBasket"><img src="/Images/green-shopping-basket-icon-48.png" alt="Koszyk" /></a>
                </div>
            }
            else
            {
                <div class="rnav-elements">
                    <a asp-controller="Account" asp-action="Login">Login</a>
                </div>
                <div class="rnav-elements">
                    <a asp-controller="Account" asp-action="Register">Rejestracja</a>
                </div>
            }
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer-elements">
            <p>Sklep 2022</p>
        </div>
    </footer>
</body>
</html>
