@model IdentityUser
@{
    ViewData["HealthyDay"] = "Edytowanie użytkownika";
}

<form asp-controller="Administrator" asp-action="EditUser" method="post"  class="main-form">
    <fieldset class="main-fieldset">
        <legend class="main-legend">Edytowanie użytkownika</legend>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <div class="main-form-container">
            <div class="main-label">
                <label>Login</label>
            </div>
            <div class="main-input">
                <input asp-for="UserName" type="text" />
            </div>
            <div class="main-btn">
                <button class="btn-primary" type="submit">Edytuj</button>
                <a asp-controller="Administrator" asp-action="UsersManagment" class="btn-delete">Anuluj</a>
            </div>
        </div>
    </fieldset>
</form>
