@{
    ViewData["HealthyDay"] = "Panel zarządzania";
}

<h1 class="h1-title-main">Panel zarządzania</h1>
<div class="administrator-mp-container">
    <div>
        <a asp-controller="Shop" asp-action="ShopManagment" class="btn-create">Zarządzanie sklepem</a>
    </div>
    <div>
        <a asp-controller="Administrator" asp-action="UsersManagment" class="btn-edit">Zarządzanie użytkownikami</a>
    </div>
    <div>
        <a asp-controller="Administrator" asp-action="RolesManagment" class="btn-edit">Zarządzanie rolami użytkowników</a>
    </div>
</div>